#!/usr/bin/env bash

# ~/.bash_colors
if [ -f ~/.bash_colors ]; then
	. ~/.bash_colors
fi

# set default editor
export EDITOR=vim

##
# simple notes configuration
##
#NOTES_DIR="/path/to/.notes/"      # default "$HOME/.notes/"
#NOTES_PRINT_CMD="pandoc -t plain" # default "cat"

##
# Midnight Commander
##
#export MC_SKIN="$HOME/.config/mc/solarized.ini"

##
# Yarn
##
#export PATH="$PATH:`yarn global bin`"

##
# RVM
##
#export PATH="$PATH:$HOME/.rvm/bin"
# load RVM into a shell session *as a function*
#[[ -s "$HOME/.rvm/scripts/rvm" ]] && source "$HOME/.rvm/scripts/rvm"

##
# Java / Android Studio
##
#export JAVA_HOME="/usr/lib/jvm/java-8-openjdk-amd64"
#export ANDROID_HOME="$HOME/Android/Sdk"
#export ANDROID_PLATFORM_TOOLS="$ANDROID_HOME/platform-tools"
#export PATH="$PATH:$ANDROID_HOME:$ANDROID_PLATFORM_TOOLS"
# https://wiki.archlinux.org/index.php/java#Better_font_rendering
#export _JAVA_OPTIONS="-Dawt.useSystemAAFontSettings=on -Dswing.aatext=true"

##
# Git
##
#export GIT_SSL_NO_VERIFY=1

##
# GCC
##
#export GCC_COLORS="error=01;31:warning=01;35:note=01;36:caret=01;32:locus=01:quote=01"
