#!/usr/bin/env bash

##
# simple notes configuration
##
#NOTES_DIR="/path/to/.notes/" # default "$HOME/.notes/"
NOTES_PRINT="pandoc -t plain" # default "cat"

##
# Midnight Commander
##
export MC_SKIN="$HOME/.config/mc/solarized.ini"

##
# Yarn
##
export PATH="$PATH:`yarn global bin`"

##
# RVM
##
export PATH="$PATH:$HOME/.rvm/bin"
# load RVM into a shell session *as a function*
#[[ -s "$HOME/.rvm/scripts/rvm" ]] && source "$HOME/.rvm/scripts/rvm"
