[user]
	name = Sokolov Innokenty
	email = r2.kenny@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
