[submodule "sft/dwm"]
	path = sft/dwm
	url = https://github.com/qbbr/dwm.git
[submodule "sft/skb"]
	path = sft/skb
	url = https://github.com/polachok/skb.git
[submodule ".vim"]
	path = .vim
	urk = https://github.com/qbbr/dotvim.git
[submodule "sft/wmname"]
	path = sft/wmname
	url = http://git.suckless.org/wmname
[submodule "sft/slock"]
	path = sft/slock
	url = http://git.suckless.org/slock
[submodule "sft/dmenu"]
	path = sft/dmenu
	url = http://git.suckless.org/dmenu/
[submodule "sft/dzenbar"]
	path = sft/dzenbar
	url = https://github.com/qbbr/dzenbar
