[user]
	name = Sokolov Innokenty
	email = im@qbbr.io
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch

	hist = log --all --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	# Show the diff between the latest commit and the current state
	d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
	type = cat-file -t
	dump = cat-file -p
[push]
	default = current
[merge]
	tool = meld
	conflictstyle = diff3
