[user]
	name = Sokolov Innokenty
	email = imqbbr@gmail.com
	signingkey = E86D63F398C11C27
[core]
	editor = vim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	quotepath = false
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	bra = branch -av
	dt = difftool
	a = add
	ad = add
	hist = log --all --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	histpath = log -p -M --follow --stat --
	aliases = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\ \t => \\2/' | sort
	pyll = pull
	pul = pull
	pus = push
	psh = push
	puish = push
	loh = log
[push]
	default = simple
[fetch]
	prune = true
[merge]
	tool = idea
[mergetool "idea"]
	cmd = idea merge $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE") $(cd $(dirname "$BASE") && pwd)/$(basename "$BASE") $(cd $(dirname "$MERGED") && pwd)/$(basename "$MERGED")
	trustExitCode = true
[diff]
	tool = idea
	wsErrorHighlight = all
	renameLimit = 5127
[difftool]
	prompt = false
[difftool "idea"]
	cmd = idea merge $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE") $(cd $(dirname "$BASE") && pwd)/$(basename "$BASE") $(cd $(dirname "$MERGED") && pwd)/$(basename "$MERGED")
	trustExitCode = true
[credential]
	helper = cache --timeout=36000
[pull]
	ff = only
	;rebase = true
[commit]
	gpgsign = true
[init]
	defaultBranch = master
