[submodule "src/dwm"]
	path = src/dwm
	url = https://github.com/qbbr/dwm.git
[submodule "src/skb"]
	path = src/skb
	url = https://github.com/polachok/skb.git
[submodule "src/wmname"]
	path = src/wmname
	url = http://git.suckless.org/wmname
[submodule "src/slock"]
	path = src/slock
	url = http://git.suckless.org/slock
[submodule "src/dmenu"]
	path = src/dmenu
	url = http://git.suckless.org/dmenu/
[submodule "src/dzenbar"]
	path = src/dzenbar
	url = https://github.com/qbbr/dzenbar
[submodule "src/dunst"]
	path = src/dunst
	url = https://github.com/knopwob/dunst.git
