! =========================================================
! file:   ~/.Xresources
! author: @qbbr
! =========================================================
! xrdb -merge ~/.Xresources
! =========================================================

! xterm
! =========================================================
xterm*termName:                        xterm-256color
xterm*disallowedWindowOps:             20,21,SetXprop
xterm*geometry:                        80x25
xterm*faceName:                        Hack
xterm*faceSize:                        10
!xterm*faceName:                        xft:Hack:size=11
!xterm*faceName:                        Hack:style=Regular:size=12
!xterm*boldFont:                        Hack:style=Bold:size=12
!xterm*faceNameDoublesize:              xft:FontAwesome:size=12
xterm*boldMode:                        false
xterm*dynamicColors:                   true
xterm*utf8:                            true
xterm*selectToClipboard:               false
xterm*eightBitInput:                   false
xterm*saveLines:                       5000
xterm*fullscreen:                      never
xterm*visualBell:                      false
xterm*bellIsUrgent:                    true
xterm*scrollBar:                       false
xterm*loginShell:                      true
xterm*jumpScroll:                      false
xterm*multiScroll:                     true
xterm*utf8Title:                       true
xterm*on2Clicks:                       word
xterm*on3Clicks:                       regex [^ \n""''``«»@\\/:;,<>(){}\[]+
xterm*on4Clicks:                       regex [^ \n""''``«»;(){}\[]+
xterm*on5Clicks:                       regex [^\n]+
xterm*printerCommand:                  xterm -T History -e sh -c 'less -r -m -N -g -i -J --line-numbers --underline-special <&3' 3<&0
xterm*translations:                    #override \n\
                                           Shift <Btn1Up>: exec-formatted("firefox '%t'", PRIMARY)\n\
                                           Shift <Btn2Up>: exec-formatted("idea-open-path '%t'", PRIMARY)\n\
                                           Shift <Btn3Up>: exec-formatted("chromium '%t'", PRIMARY)\n\
                                           Ctrl Shift <Key>C: copy-selection(CLIPBOARD)\n\
                                           Ctrl Shift <Key>V: insert-selection(CLIPBOARD)\n\
                                           Shift <Key>Home: scroll-back(5000)\n\
                                           Shift <Key>End: scroll-forw(5000)\n\
                                           Ctrl <Key>slash: print-everything()\n\
                                           Ctrl <Key>BackSpace: insert-eight-bit() \n\
                                           Ctrl <Btn1Down>: ignore()\n\
                                           Ctrl <Btn2Down>: ignore()\n\
                                           Ctrl <Btn3Down>: ignore()
xterm*metaSendsEscape:                 true
xterm*transparent:                     false
xterm*shading:                         40

! colors
! =========================================================
! @see https://github.com/altercation/solarized/blob/master/xresources/solarized

#define S_rebase03      #002b36
#define S_rebase02      #073642
#define S_rebase01      #586e75
#define S_rebase00      #657b83
#define S_rebase0       #839496
#define S_rebase1       #93a1a1
#define S_rebase2       #eee8d5
#define S_rebase3       #fdf6e3

#ifdef THEME_MODE_LIGHT
  #define S_base03      S_rebase3
  #define S_base02      S_rebase2
  #define S_base01      S_rebase1
  #define S_base00      S_rebase0
  #define S_base0       S_rebase00
  #define S_base1       S_rebase01
  #define S_base2       S_rebase02
  #define S_base3       S_rebase03
#else
  #define S_base03      S_rebase03
  #define S_base02      S_rebase02
  #define S_base01      S_rebase01
  #define S_base00      S_rebase00
  #define S_base0       S_rebase0
  #define S_base1       S_rebase1
  #define S_base2       S_rebase2
  #define S_base3       S_rebase3
#endif

*background:             S_base03
*foreground:             S_base0
!*fading:                 40
*fadeColor:              S_base03
*cursorColor:            S_base1
*pointerColorBackground: S_base01
*pointerColorForeground: S_base1

#define S_yellow         #b58900
#define S_orange         #cb4b16
#define S_red            #dc322f
#define S_magenta        #d33682
#define S_violet         #6c71c4
#define S_blue           #268bd2
#define S_cyan           #2aa198
#define S_green          #859900

*color0:                 S_base02
*color1:                 S_red
*color2:                 S_green
*color3:                 S_yellow
*color4:                 S_blue
*color5:                 S_magenta
*color6:                 S_cyan
*color7:                 S_base2
*color9:                 S_orange
*color8:                 S_base03
*color10:                S_green
*color11:                S_yellow
*color12:                S_blue
*color13:                S_violet
*color14:                S_cyan
*color15:                S_base3

! xpdf
! =========================================================
xpdf*initialZoom:                      page
xpdf*enableFreetype:                   yes
xpdf*antialias:                        yes
!xpdf*foreground:                       white
!xpdf*background:                       black
xpdf*urlCommand:                       x-www-browser %s
xpdf*viKeys:                           on
xpdf*textEncoding:                     utf-8

! xcalc
! =========================================================
xcalc*geometry:                        200x275
xcalc.ti.bevel.background:             S_base03
xcalc.ti.bevel.screen.DEG.foreground:  white
xcalc.ti.bevel.screen.GRAD.foreground: white
xcalc.ti.bevel.screen.RAD.foreground:  white
xcalc.ti.bevel.screen.INV.foreground:  S_red
xcalc.ti.bevel.screen.LCD.foreground:  white
xcalc.ti.bevel.screen.LCD.shadowWidth: 0
xcalc.ti.bevel.screen.M.foreground:    white
xcalc.ti.bevel.screen.P.foreground:    S_yellow
xcalc.ti.Command.foreground:           White
xcalc.ti.Command.background:           #888888
xcalc.ti.button5.background:           #bf4646
xcalc.ti.button19.background:          #666666
xcalc.ti.button18.background:          #666666
xcalc.ti.button20.background:          #555555
xcalc.ti.button20.label:               /
xcalc.ti.button25.background:          #555555
xcalc.ti.button30.background:          #555555
xcalc.ti.button35.background:          #555555
xcalc.ti.button40.background:          S_green
xcalc.ti.button22.background:          S_violet
xcalc.ti.button23.background:          S_violet
xcalc.ti.button24.background:          S_violet
xcalc.ti.button27.background:          S_violet
xcalc.ti.button28.background:          S_violet
xcalc.ti.button29.background:          S_violet
xcalc.ti.button32.background:          S_violet
xcalc.ti.button33.background:          S_violet
xcalc.ti.button34.background:          S_violet
xcalc.ti.button37.background:          S_violet
xcalc.ti.button38.background:          S_violet
xcalc.ti.button39.background:          S_violet

! xmessage
! =========================================================
!xmessage*message.background:           #101010
xmessage.form.okay.background:         S_base03
xmessage.form.okay.foreground:         S_base2
xmessage.defaultButton:                okay
xmessage.form.message.Scroll:          WhenNeeded
