! =========================================================
! file:   ~/.Xresources
! author: Sokolov Innokenty, <imqbbr@gmail.com>
! =========================================================
! xrdb -merge ~/.Xresources
! =========================================================

! xterm
! =========================================================
xterm*termName:                        xterm-256color
xterm*geometry:                        80x25
xterm*faceName:                        terminus:pixelsize=16
xterm*boldMode:                        false
xterm*dynamicColors:                   true
xterm*utf8:                            2
xterm*selectToClipboard:               true
!xterm*eightBitInput:                   true
xterm*saveLines:                       5000
xterm*fullscreen:                      never
xterm*scrollTtyKeypress:               true
xterm*scrollTtyOutput:                 false
xterm*scrollBar:                       true
xterm*rightScrollBar:                  true
xterm*scrollbar*thickness:             8
xterm*scrollbar.foreground:            #5c81af
xterm*scrollbar.thumb:                 black
xterm*loginShell:                      true
xterm*jumpScroll:                      false
xterm*multiScroll:                     true
xterm*utf8Title:                       true
xterm*on2Clicks:                       word
xterm*on3Clicks:                       regex [^ \n<>]+
xterm*on4Clicks:                       line
xterm*on5Clicks:                       none
xterm*printerCommand:                  xterm -T History -e sh -c 'less -r -m -N -g -i -J --line-numbers --underline-special <&3' 3<&0
xterm*translations:                    #override \
                                       Shift <Btn1Up>: exec-formatted("iceweasel '%t'", CLIPBOARD)\n\
                                       Shift <Btn2Up>: exec-formatted("phpstorm '%t'", CLIPBOARD)\n\
                                       Ctrl Shift <Key>C: copy-selection(CLIPBOARD)\n\
                                       Ctrl Shift <Key>V: insert-selection(CLIPBOARD)\n\
                                       Shift <Key>Home: scroll-back(5000)\n\
                                       Shift <Key>End: scroll-forw(5000)\n\
                                       Ctrl <Key>slash: print-everything()
xterm*metaSendsEscape:                 true
xterm*transparent:                     false
xterm*shading:                         40

! colors
! =========================================================
*background:                           #101010
*foreground:                           #eeeeee
! Black
*color0:                               #000000
*color8:                               #000000
! Red
*color1:                               #bf4646
*color9:                               #f48a8a
! Green
*color2:                               #67b25f
*color10:                              #a5d79f
! Yellow
*color3:                               #cfc44e
*color11:                              #e1da84
! Blue
*color4:                               #224488
*color12:                              #5C81AF
! Magenta
*color5:                               #ca6eff
*color13:                              #e2b0ff
! Cyan
*color6:                               #92b2f8
*color14:                              #bacdf8
! White
*color7:                               #d5d5d5
*color15:                              #d5d5d5

! xpdf
! =========================================================
xpdf*enableFreetype:                   yes
xpdf*antialias:                        yes
!xpdf*foreground:                       white
!xpdf*background:                       black
xpdf*urlCommand:                       /usr/bin/iceweasel %s
xpdf*viKeys:                           on

! xcalc
! =========================================================
xcalc*geometry:                        200x275
xcalc.ti.bevel.background:             #729FCF
xcalc.ti.bevel.screen.DEG.foreground:  white
xcalc.ti.bevel.screen.GRAD.foreground: white
xcalc.ti.bevel.screen.RAD.foreground:  white
xcalc.ti.bevel.screen.INV.foreground:  Red
xcalc.ti.bevel.screen.LCD.foreground:  white
xcalc.ti.bevel.screen.LCD.shadowWidth: 0
xcalc.ti.bevel.screen.M.foreground:    white
xcalc.ti.bevel.screen.P.foreground:    Yellow
xcalc.ti.Command.foreground:           White
xcalc.ti.Command.background:           #888888
xcalc.ti.button5.background:           #bf4646
xcalc.ti.button19.background:          #666666
xcalc.ti.button18.background:          #666666
xcalc.ti.button20.background:          #555555
xcalc.ti.button20.label:               /
xcalc.ti.button25.background:          #555555
xcalc.ti.button30.background:          #555555
xcalc.ti.button35.background:          #555555
xcalc.ti.button40.background:          #67b25f
xcalc.ti.button22.background:          #516083
xcalc.ti.button23.background:          #516083
xcalc.ti.button24.background:          #516083
xcalc.ti.button27.background:          #516083
xcalc.ti.button28.background:          #516083
xcalc.ti.button29.background:          #516083
xcalc.ti.button32.background:          #516083
xcalc.ti.button33.background:          #516083
xcalc.ti.button34.background:          #516083
xcalc.ti.button37.background:          #516083
xcalc.ti.button38.background:          #516083
xcalc.ti.button39.background:          #516083
